.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.auxly/**
mcp-server/**
out/**
webpack.config.js
tsconfig.json
.gitattributes
.git/**
*.vsix
*.zip
node_modules/@types/**
node_modules/eslint/**
node_modules/@typescript-eslint/**
node_modules/typescript/**
node_modules/@vscode/vsce/**
node_modules/webpack/**
node_modules/webpack-cli/**
node_modules/copy-webpack-plugin/**
!dist/**
